.logo {
    float: right;
    right: 0px;
    width: 200px;
}
.header {
    margin-top: 20px;
}

.sdshop{
    color: red;
    text-decoration: lightblue underline;
}
.caption{
    color: goldenrod;
}
.productimage{
    width: 140px;
    height: 170px;

}
.nav {
    background-color: lightblue;
    border-radius: 10px;
}
.imagedetail{
    height: 500px;
}